
body {
    background-color: #1c1c1c; 
    color: #f5f5f5; 
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    margin-top: 1%;
    background-color: #1c1c1c; 
}

h1 {
    margin: 0;
    font-size: 70px;
    font-family: 'Tangerine', serif;
    color:#93064d;
    text-shadow: 4px 4px 4px #4d0f28;
}


.cart-icon {
    position: absolute;
    cursor: pointer;
    top: 15%;
    right: 20px;
    font-size: 24px;
    display: flex;
    border: none;
    color: white;
    align-items: center;
    background-color: #262626; 
    padding: 12px;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
}

.cart-icon:disabled {
    opacity: 0.5; 
    cursor: not-allowed;
    color: gray;
}


.cart-icon :hover {
    transition: 0.2s ease-in-out;
    color: #93064d;
}

.cart-count {
    background-color: #323232; 
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    margin-left: 8px;
    font-size: 14px;
}


.clubs-container {
    margin-top: 150px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
}

.cart-item-info h2, .club-card h2 {
   font-family: 'Tangerine', serif;    
}

.club-card h2 {
    font-size: 40px;
}

.clubs-container a, .cart-item-info a{
    text-decoration: none;
    color: white;
}

.clubs-container a:hover{
    color: #93064d;
    transition: 0.2s ease-in-out;
}

.cart-item-info a:hover {
    color: #93064d;
    transition: 0.2s ease-in-out;
}


.club-card {
    background-color: #171717; 
    border: 3px solid #4d0f28; 
    border-radius: 12px; 
    padding: 20px;
    margin: 15px;
    text-align: center;
    width: 220px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    
}

.club-card:hover {
    transform: scale(1.05) translateY(-5px);
    transition: 0.2s ease-in-out;
}

.club-card p {
    margin-top: 10%;
}

.club-card button {
    width: 55%;
    position: relative;

}

.club-image {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 8px;
    margin: 0 auto; 
    display: block; 
}

h2 {
    font-size: 1.3em;
    margin: 10px;
    margin-top: 25px;
    color: #f5f5f5; 
}

p {
    font-size: 1em;
    margin: 5px 0;
    color: #f5f5f5; 
}

.add-button {
    padding: 10px 15px;
    background-color: #93064d; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}


.add-button:disabled {
    background-color: #a5a5a5; 
    color: rgb(27, 27, 27);
    cursor: not-allowed;
}


.add-button:hover:not(:disabled) {
    background-color: #4d0f28; 
}

.sidebar {
    width: 250px; 
    background-color: #262626; 
    padding: 15px;
    position: absolute; 
    top: 120px;
    left: 5%;
    color: #f5f5f5; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    font-family: 'Helvetica', sans-serif;
    border: 1px solid #4d0f28
}

.filter {
    display: flex;
    gap: 10%;
}

.filter-group {
    margin-bottom: 5px; 
}

.filter-group label {
    display: block;
    font-size: 15p6;
    margin-bottom: 5px;
}

.filter-group select {
    width: 100%; 
    padding: 10px;
    margin-top: 5%;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #cccccc89;
    background-color: #323232;
    color: #f5f5f5;
}

.search-bar {
    width: 250px; 
    margin-left: auto; 
    margin-right: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: flex-end; 

}

.search-bar input {
    width: 100%; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #cccccca3; 
    background-color: #323232; 
    color: #f5f5f5; 
}

.search-bar input:focus {
    outline: none; 
    border-color: #93064d; 
}

.sort-direction {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 15px; 
}

.sort-direction label {
    margin-right: 10px; 
}

.sort-direction select {
    width: 80px; 
    padding: 7px;
    font-size: 0.9em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #323232;
    color: #f5f5f5;
}



.checkout-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 40px;
    gap: 5%;
}

.cart-items-container {
    width: 65%;
    margin-left: 50px;
}

.cart-header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-header h2 {
    font-size: 30px;
    color: #f5f5f5;
}

.cart-items {
    max-height: 200px; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    background-color: #171717;
    border: 3px solid #93064d;
    padding: 20px;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}


.cart-item-info h2 {
    font-size: 40px;
    margin: 30px 0px 15px 0px;
    color: #f5f5f5;
}

.cart-item-info p {
    font-size: 18px;
    margin: 5px 0;
    color: #f5f5f5;
}

.cart-item-info a {
    text-decoration: none;
    color: #f5f5f5;
}

.cart-item button {
    height: 25%;
    padding: 11px 12px; 
    margin-left: auto;
    display: flex;
    justify-content: center;
    top: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: none;
    color: #ccc;
}

.cart-item button:hover {
    transition: 0.3s ease-in-out;
    background-color: #93064d;
}

.checkout-form {
    width: 250px;
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #262626;
    padding: 20px;
    border: 3px solid #93064d;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.checkout-form label {
    font-size: 17px;
    color: #f5f5f5;
    margin: 5px 0px 7px 0px;
    display: block;
}

.checkout-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #323232;
    color: #f5f5f5;
}

.checkout-form input:focus {
    outline: none; 
}

.checkout-form input.invalid {
    border: 1px solid #ff5959;
}

.checkout-button {
    display: block;
    padding: 12px 20px;
    background-color: #93064d;
    border: none;
    color: white;
    border-radius: 7px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    align-self: center;
}

.checkout-button:hover {
    background-color: #4d0f28;
    transition: 0.2s ease-in-out;
}

.checkout-button:disabled {
    background-color: #a5a5a5;
    color: #323232;
    cursor: not-allowed;
}

.invalid {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 13px;
}

.success-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.success-message {
    background-color: #262626;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 15px;

}

.success-message button {
    width: 30%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color:#93064d;
    color: white;

}

.success-message button:hover {
    background-color: #4d0f28;
    transition: 0.2s ease-in-out;
}

.rating {
    display: inline-flex;
    gap: 5px;
    margin: 10px 0;
    align-items: center;
}



.fa-star {
    color: #93064d; 
    cursor: pointer;
}



/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #93064d;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4d0f28;
  }


